<component name="libraryTable">
  <library name="app">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/swt.jar!/" />
      <root url="jar://$PROJECT_DIR$/lz4-java-1.8.0.jar!/" />
      <root url="jar://$PROJECT_DIR$/failureaccess-1.0.1.jar!/" />
      <root url="jar://$PROJECT_DIR$/xz-1.9.jar!/" />
      <root url="jar://$PROJECT_DIR$/jna-platform-5.11.0.jar!/" />
      <root url="jar://$PROJECT_DIR$/okio-1.13.0.jar!/" />
      <root url="jar://$PROJECT_DIR$/json-simple-1.1.1.jar!/" />
      <root url="jar://$PROJECT_DIR$/sqlite-jdbc-3.42.0.0.jar!/" />
      <root url="jar://$PROJECT_DIR$/apksigner-0.9.jar!/" />
      <root url="jar://$PROJECT_DIR$/commons-codec-1.15.jar!/" />
      <root url="jar://$PROJECT_DIR$/snakeyaml-2.0.jar!/" />
      <root url="jar://$PROJECT_DIR$/okhttp-3.9.0.jar!/" />
      <root url="jar://$PROJECT_DIR$/commons-beanutils-1.9.4.jar!/" />
      <root url="jar://$PROJECT_DIR$/antlr4-runtime-4.13.0.jar!/" />
      <root url="jar://$PROJECT_DIR$/commons-lang3-3.12.0.jar!/" />
      <root url="jar://$PROJECT_DIR$/jep-4.0.3.jar!/" />
      <root url="jar://$PROJECT_DIR$/objenesis-3.3.jar!/" />
      <root url="jar://$PROJECT_DIR$/zip4j-2.11.5.jar!/" />
      <root url="jar://$PROJECT_DIR$/jna-5.11.0.jar!/" />
      <root url="jar://$PROJECT_DIR$/jeb.jar!/" />
      <root url="jar://$PROJECT_DIR$/netty-all-4.1.34.Final.jar!/" />
      <root url="jar://$PROJECT_DIR$/commons-text-1.10.0.jar!/" />
      <root url="jar://$PROJECT_DIR$/commons-logging-1.2.jar!/" />
      <root url="jar://$PROJECT_DIR$/d8.jar!/" />
      <root url="jar://$PROJECT_DIR$/jebc.jar!/" />
      <root url="jar://$PROJECT_DIR$/jython-standalone-2.7.3.jar!/" />
      <root url="jar://$PROJECT_DIR$/jebi.jar!/" />
      <root url="jar://$PROJECT_DIR$/commons-configuration2-2.9.0.jar!/" />
      <root url="jar://$PROJECT_DIR$/byte-buddy-1.14.5.jar!/" />
      <root url="jar://$PROJECT_DIR$/commons-io-2.13.0.jar!/" />
      <root url="jar://$PROJECT_DIR$/commons-compress-1.23.0.jar!/" />
      <root url="jar://$PROJECT_DIR$/dx.jar!/" />
      <root url="jar://$PROJECT_DIR$/jsr305-3.0.2.jar!/" />
      <root url="jar://$PROJECT_DIR$/z3-4.13.0.jar!/" />
      <root url="jar://$PROJECT_DIR$/guava-32.0.1-jre.jar!/" />
      <root url="jar://$PROJECT_DIR$/jface.jar!/" />
      <root url="jar://$PROJECT_DIR$/jsoup-1.16.1.jar!/" />
      <root url="jar://$PROJECT_DIR$/xpp3-1.1.4c.jar!/" />
      <root url="jar://$PROJECT_DIR$/commons-collections4-4.4.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>